@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
 margin: 0;
 padding: 0;
 font-weight: 400;

}

:root {
    --azul-claro: rgb(58, 7, 159);
    --preto: rgb(28, 8, 19);
    --roxo-claro: rgb(81, 12, 201);
    --azul: rgb(16, 4, 78);
    --azul-bebe: rgb(38, 8, 192);
    --fonte-texto: "Playfair Display", serif;
    --fonte-titulo: "Bebas Newe", sans-serif;
}

body{
    background-color: var(--rosa);
    color: var(--rosa-claro);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: var(--fonte-texto);
}

.caixa-principal{
    background-color: var(--roxo-claro);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

.titulo{
    color: var(--rosa-forte);
    font-family: var(--fonte-titulo);
}